<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
  <link rel="stylesheet" href="js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="otherStyle.css"> <!-- otherStyle or myStyle.css -->

</head>

<body>
  <div class="container-fluid" >
    <div class="panel panel-default" id="logout-panel">
      <div class="panel-body">
        <h1>Have a nice day!</h1>
        <div class="row">
          <h4>To log in again, click
            <!--<button type="button" class="btn btn-default" id="login-btn">here</button>-->
            <a href="/">
                <button type="button" class="btn btn-default" id="login-btn-out">here</button>
            </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
